<h1>餐廳後台</h1>
<ul class="nav nav-tabs mt-4">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'restaurants'}}active{{/ifCond}}" href='/admin/restaurants'>
      Restaurants
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'users'}}active{{/ifCond}}" href='/admin/users'>
      Users
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'categories'}}active{{/ifCond}}" href='/admin/categories'>
      Categories
    </a>
  </li>
</ul>