<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">© 2017-{{ currentYear }}</span>
  </div>
  <div class="d-flex flex-column align-items-center mt-1">
    <a href="/privacy/policy">隱私權政策</a>
  </div>
</footer>