<div class="mb-4 text-center">
  <h1 class="h3 font-weight-normal mb-3">Sign Up</h1>
</div>

<form class="form-signup mx-auto" action="/signup" method="POST" style="width: 450px;">
  <div class="form-row mb-3">
    <label class="form-label" for="name">Name</label>
    <input type="text" id="name" name="name" class="form-control" placeholder="Name" value="{{ input.name }}" required
      autofocus>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="email">Email</label>
    <input type="text" id="email" name="email" class="form-control" placeholder="Email" value="{{ input.email }}"
      required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="password">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="passwordCheck">Password Check</label>
    <input type="password" id="passwordCheck" name="passwordCheck" class="form-control" placeholder="Password Check"
      required>
  </div>

  <div class="d-flex flex-column align-items-center">
    <button class="btn btn-primary btn-block" type="submit" style="width: 450px;">Submit</button>
    <a href="/auth/facebook" class="btn btn-info btn-block mt-2" style="width: 450px;">Facebook Login</a>
  </div>
</form>

<div class="mb-4 text-center mt-2">
  <p><a href="/signin">Sign In</a></p>
</div>